# potos-ansible-pull@.service
# {{ ansible_managed }}
[Unit]
Description=Runs ansible pull for {{ basics_client_name }} client ({{ '%i' }})
AssertPathExists={{ basics_workdir }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/potos-ansible-pull -r %i
