# potos-ansible-pull-{{ runtype }}.timer
# {{ ansible_managed }}
[Unit]
Description=Runs ansible pull for {{ basics_client_name }} client ({{ runtype }})
AssertPathExists={{ basics_workdir }}

[Timer]
Unit=potos-ansible-pull@{{ runtype }}.service
OnCalendar={{ on_calendar }}
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
